@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

html,
body {
	height: 100%;
	box-sizing: border-box;
	font-size: 12px;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	

}

body {
	margin: 0;
	background:rgb(213, 212, 212);
	font-family: sans-serif;
	font-weight: 100;
}

.header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	color: #5f8cff;
	height: 8vh;
	width: 100%;
	background: linear-gradient(120deg, #0032FF 0%, #98D8FD 100%);
	
	margin-bottom: 20px;
	box-shadow: 1px 8px 5px 0px rgba(0,0,0,0.24);
	-webkit-box-shadow: 1px 8px 5px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 1px 8px 5px 0px rgba(0,0,0,0.24);
	position:fixed;
	
	


}

.logo{
	width: 20vh;
	padding-top: 15px;
	padding-bottom: 10px;
}

.container{
	padding-top: 50px;
	color: rgb(70, 70, 70);
	
}

table{
	width: 1000px;
	height: 400px;
	border-collapse: collapse;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 31px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 31px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 31px -3px rgba(0,0,0,0.75);
	

}

thead,
tbody,
th,
td
{
	border: #cfcfcf solid 1px;
	padding:10px;
	
}

thead{
	background-color: #0004ff;
	color: #fff;
}

/* --------------------------------------------------------------------------*/
.formulario{
	display:flex;
		
}

#search-input,
#search-btn
{
  margin-top: 10px;
  padding: 0 10px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  
 }

 #search-btn{
	background-color:  #0004ff;
	color: white;
	border-radius: 0 10px 10px 0px;
	width: 5vw;
	cursor: pointer;
	margin: 10px 10px 10px 0;
	height: 4.3vh;
	
 }

 #search-btn:hover{
	background-color: rgb(179, 179, 244);
	color: white;
	
	


 }

 #search-input{
	border-radius: 10px 0px 0px 10px;
	height: 4vh;
	
	

 }

 .tg-lboi{
	text-transform: lowercase;
 }

 .tg-lboi:first-letter {
		text-transform: uppercase;
	}

.tg-c3ow{
	font-weight: bold;
}

.nova{
	display: flex;
	width: 10vw;	
	margin: 0 auto;
	padding-bottom: 20px;
	
}

.final{
	text-align: center;
	font-weight: inherit;
	margin: 0 auto;
	font-weight: bold;
}

/*---------------------------------------*/

a {
	text-decoration: none;
	color: #000000;
  }
  
  a:hover {
	color: #222222
  }
  
  /* Dropdown */
  
  .dropdown {
	display: inline-block;
	position: relative;
  }
  
  .dd-button {
	display: inline-block;
	border: 1px solid gray;
	border-radius: 4px;
	padding: 10px 30px 10px 20px;
	background-color: #ffffff;
	cursor: pointer;
	white-space: nowrap;

	color: #222222;
  }
  
  .dd-button:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
  }
  
  .dd-button:hover {
	background-color: #eeeeee;
  }
  
  
  .dd-input {
	display: none;
  }
  
  .dd-menu {
	position: absolute;
	top: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0;
	margin: 2px 0 0 0;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
	background-color: #ffffff;
	list-style-type: none;
  }
  
  .dd-input + .dd-menu {
	display: none;
  } 
  
  .dd-input:checked + .dd-menu {
	display: block;
  } 
  
  .dd-menu li {
	padding: 10px 20px;
	cursor: pointer;
	white-space: nowrap;
  }
  
  .dd-menu li:hover {
	background-color: #1f48fd;
	color: #fff;
  }
  
  .dd-menu li a {
	display: block;
	margin: -10px -20px;
	padding: 10px 20px;
  }
  
  .dd-menu li.divider{
	padding: 0;
	border-bottom: 1px solid #cccccc;
  }

  ul li{
	color:#000000;
  }